@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: url("1520432419.banner.Getting-real-about-womens-empowerment.jpg") center center fixed;
    background-size: cover;
}

.container {
    display: flex;
    align-items: center;
    background-color: black;
    justify-content: space-between;
    transition: 2.5s;

    padding: 10px;
}

.container h1 {
    color: orangered;
    margin-left: 10px;
    cursor: pointer;
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
}

.navbar ul li {
    display: inline-block;
    padding: 18px;
    text-transform: uppercase;
    padding-left: 40px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 8px;
    transition: 3.5s;
}

.navbar ul li a:hover {
    box-shadow: 0 3px 50px orangered inset, 0 3px 50px orangered inset,
        0 3px 50px orangered inset, 0 3px 50px orangered inset;
}

.content {
    
    margin: 20px auto;
    text-align: justify;
    color: #333;
    width: 80%;
}

.content h2 {
    color: orangered;
    text-align: center;
}

/* Add more styles as needed */
